0 14 * * 0 /usr/bin/galaxie_mickaelH_sharkam
0 23 * * 5 /usr/bin/galaxie_les_keyaz
0 1 * * 6 /usr/bin/galaxie_silver_cee
0 10 * * 0,6 /usr/bin/galaxie_retro
# 0 0 * * 0,6 /usr/bin/galaxie4h
# 0 4 * * 0,6 /usr/bin/galaxie4h

